@font-face {
  font-family: "Hind";
  src: url("assets/fonts/Hind-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  src: url("assets/fonts/Hind-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  src: url("assets/fonts/Hind-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  src: url("assets/fonts/Hind-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  src: url("assets/fonts/Hind-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@import "reset";
// @import "_reset.scss"; Equivalent

// --------------------------------

$primary: #11234A;
$secondary: #344154;
$light-grey: #F9F9F9;
$white: #DAE0EE;
$border-color: #BEC9DA;

.container {
  width: 1200px;
  margin: 0 auto;
}

body {
  background-color: $light-grey;

  // Police de base
  font-family: 'Hind', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
	line-height: 1.4;
  color: $secondary;
}

header {
  height: 70px;
	width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
	position: fixed;

  .container {
    display: flex;
    gap: 30px;
    align-items: center;
    height: 100%;
  }

  .main-nav ul {
    display: flex;
    gap: 20px;

    .nav-item {
      a {
        color: $secondary;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        position: relative;
				transition: color .15s ease-in-out;

        // Valeurs initiales pour le lien actif
        &::after {
          content: "";
          background-color: $primary;
          display: block;
          width: 0%;
          height: 2px;
          position: absolute;
          left: 0;
          bottom: -8px;
          transition: width .15s ease-in-out;
        }
      }

      a.active::after,
      a:hover::after {
        width: 100%;
      }

			a:active {
				color: lighten($primary, 30);
			}

			a:active::after {
				background-color: lighten($primary, 30);
			}
    }
  }
}

.logo {
	font-weight: bold;
	font-size: 22px;
	color: $primary;

	&::before {
		content: "";
		display: inline-block;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: $primary;
	}
}

.header-background {
	height: 320px;
	background-image: url('assets/img/header-background.jpg');
	background-size: cover;
}